<footer class="footer section section-primary">
  <div class="container">
    <div class="row">
      <div class="footer-links col-sm-6">
        <h4>© ShopHere, Hyderabad</h4>
      </div>
    </div>
  </div>
</footer>