<div class="navbar navbar-default navbar-fixed-top header" id="header">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" id="logo" href="/"><%= image_tag("Shop_Here.png", :alt => "Shop Here", :size => "100x60") %></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right header-login-nav" id="header-login-nav">
        <li>
          <div>
            <table cellpadding style="margin-top:3px; text-align:right; font-size:13px;">
              <tr>
                <td style="padding-right:10px;">
                  <%= current_user.email %><br>
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete, :style => "color:white;") %>
                </td>
              </tr>
            </table>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>